name: Build Binaries
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        target: [x86_64-unknown-linux-gnu, x86_64-pc-windows-msvc]
        exclude:
          - os: windows-latest
            target: x86_64-unknown-linux-gnu
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: rust-lang/rustup-install@v1
      with:
        toolchain: stable
        target: ${{ matrix.target }}
    - run: cargo build --release --target ${{ matrix.target }}
    - uses: actions/upload-artifact@v4
      with:
        name: iceland-${{ matrix.target }}
        path: |
          target/${{ matrix.target }}/release/iceland*
